In [1]:
import pandas as pd

In [2]:
!ls

Match_villages.ipynb
Output_test.xlsx
short_DISE_Basic_Data_21-02-2017 12-05-03.xlsx
test_village.xlsx

In [3]:
data_filename_all = 'short_DISE_Basic_Data_21-02-2017 12-05-03.xlsx'

In [4]:
data_all = pd.read_excel(data_filename_all)

In [5]:
data_all.head(15)

,DISTNAME,SCHOOL_CODE,AC_YEAR,SCHOOL_NAME,BLOCK_NAME,CLUSTER_NAME,VILLAGE_NAME,PINCODE
0,BANKA,10232519807,2015-16,N.P.S. KARJANA,BANKA,U.M.S. CHATARPAL,ASRAMHA,813102
1,AURANGABAD (BIHAR),10340917201,2015-16,R.P.S. EKAHARA,NABINAGAR,MIDDLE SCHOOL BAREM,EKAHARA,824303
2,BEGUSARAI,10200201501,2015-16,UMS JEETWAJITPUR,BACHHWARA,GMS FATEHA,JEETWAJITPUR,851111
3,KATIHAR,10100201701,2015-16,UMS GORPHAR,DANDKHORA,MS DUMARIA,GORFER,855114
4,DARBHANGA,10130710601,2015-16,MS RANIPUR,DARBHANGA-RURAL,MS BUCHCHA,RANIPUR,846005
5,PURBA CHAMPARAN,10020207202,2015-16,BAL SHIKSHA NIKETAN,ARERAJ,GMS CHATIA,ARERAJ NA,845411
6,BHOJPUR,10290306203,2015-16,JEMS D.C.C. SCHOOL,BIHIYA,M.S. MAHUAN,CHAKAWATH,822152
7,BUXAR,10301500603,2015-16,HIGH SCHOOL ATAON,DUMRAON,"M.S. ATAON, DUMRAON",ATAOA,802119
8,JEHANABAD,10330303702,2015-16,U.M.S.RUSTAMPUR,HULASGANJ,M.S.HULASGANJ,RUSTAMPUR,801303
9,JAMUI,10371505001,2015-16,U M S NAUWADIH,CHAKAI,M.S.KARHI,NAUWADIH,811303
10,KAIMUR (BHABUA),10310603901,2015-16,U.M.S LEDRI,CHAND,M.S. GOHUA,LEDRI,821106
11,KATIHAR,10101218401,2015-16,MDR GHARIB NAWAZ PAIZEAAM PACHKOHNIA,AZAMNAGAR,UMS BAULA NIMOUL,PACHKONIYA,855113
12,SITAMARHI,10041203604,2015-16,P.S. LAPTAHA,PARIHAR,M.S. NARANGA,MAHUWAIN,843324
13,MADHUBANI,10050800506,2015-16,N.P.S. DEWDHA GOBRAHI TOL,JAYNAGAR,M.S.GADHA,DEVDHA,847226
14,LAKHISARAI,10252401801,2015-16,P.S. KANHARPUR,PIPARIYA,U.M.S. PIPARIYA DIYARA,KANHARPUR,811302

In [6]:
data_file_to_add = 'test_village.xlsx'

In [7]:
data_to_add = pd.read_excel(data_file_to_add)

In [8]:
data_to_add.head(3)

,ST_CODE,DIST_CODE,THSIL_CODE,BLOCK_CODE,V_CT_CODE,VILL_NAME,AREA,T_HH,T_P,T_M,...,TW_W_EL,TANK_IRR,RIVER_IRR,LAKE_IRR,W_FALL,OTH_IRR,TOT_IRR,UN_IRR,CULT_WASTE,AREA_NA_CU
0,10,22,8,8,2341000,Ranipur,112,244,1440,783,...,0,0,0,0,0,0.00,14.74,67.27,9.97,19.71
1,10,29,7,7,3126400,Rustampur,48,0,0,0,...,0,0,0,0,0,0.00,16.53,27.03,0.00,4.19
2,10,37,2,2,4368000,Nauwadih,37,86,614,342,...,0,0,0,0,0,0.83,0.83,24.16,0.00,12.24

In [9]:
data_to_add_clear = data_to_add[['VILL_NAME', 'T_P']]

In [10]:
data_to_add_clear.head(3)

   VILL_NAME   T_P
0    Ranipur  1440
1  Rustampur     0
2   Nauwadih   614

In [11]:
df_to_add = pd.DataFrame(data_to_add_clear)

In [12]:
df_to_add.columns = ['VILLAGE_NAME', 'TOTAL_POPULATION']

In [13]:
print (df_to_add)

  VILLAGE_NAME  TOTAL_POPULATION
0      Ranipur              1440
1    Rustampur                 0
2     Nauwadih               614

In [14]:
df_all = pd.DataFrame(data_all)

In [15]:
df_all_sorted = df_all.sort_values(['VILLAGE_NAME'], ascending=True)

In [16]:
print (df_all_sorted)

              DISTNAME  SCHOOL_CODE  AC_YEAR  \
5      PURBA CHAMPARAN  10020207202  2015-16
0                BANKA  10232519807  2015-16
7                BUXAR  10301500603  2015-16
6              BHOJPUR  10290306203  2015-16
13           MADHUBANI  10050800506  2015-16
1   AURANGABAD (BIHAR)  10340917201  2015-16
3              KATIHAR  10100201701  2015-16
2            BEGUSARAI  10200201501  2015-16
14          LAKHISARAI  10252401801  2015-16
10     KAIMUR (BHABUA)  10310603901  2015-16
12           SITAMARHI  10041203604  2015-16
9                JAMUI  10371505001  2015-16
11             KATIHAR  10101218401  2015-16
4            DARBHANGA  10130710601  2015-16
8            JEHANABAD  10330303702  2015-16

                             SCHOOL_NAME       BLOCK_NAME  \
5                    BAL SHIKSHA NIKETAN           ARERAJ
0                         N.P.S. KARJANA            BANKA
7                      HIGH SCHOOL ATAON          DUMRAON
6                     JEMS D.C.C. SCHOOL           BIHIYA
13             N.P.S. DEWDHA GOBRAHI TOL         JAYNAGAR
1                         R.P.S. EKAHARA       NABINAGAR
3                            UMS GORPHAR        DANDKHORA
2                       UMS JEETWAJITPUR        BACHHWARA
14                        P.S. KANHARPUR         PIPARIYA
10                           U.M.S LEDRI            CHAND
12                          P.S. LAPTAHA          PARIHAR
9                         U M S NAUWADIH           CHAKAI
11  MDR GHARIB NAWAZ PAIZEAAM PACHKOHNIA        AZAMNAGAR
4                             MS RANIPUR  DARBHANGA-RURAL
8                        U.M.S.RUSTAMPUR        HULASGANJ

              CLUSTER_NAME  VILLAGE_NAME  PINCODE
5               GMS CHATIA     ARERAJ NA   845411
0         U.M.S. CHATARPAL       ASRAMHA   813102
7      M.S. ATAON, DUMRAON         ATAOA   802119
6              M.S. MAHUAN     CHAKAWATH   822152
13               M.S.GADHA        DEVDHA   847226
1      MIDDLE SCHOOL BAREM       EKAHARA   824303
3               MS DUMARIA        GORFER   855114
2               GMS FATEHA  JEETWAJITPUR   851111
14  U.M.S. PIPARIYA DIYARA     KANHARPUR   811302
10              M.S. GOHUA         LEDRI   821106
12            M.S. NARANGA      MAHUWAIN   843324
9                M.S.KARHI      NAUWADIH   811303
11        UMS BAULA NIMOUL    PACHKONIYA   855113
4               MS BUCHCHA       RANIPUR   846005
8            M.S.HULASGANJ     RUSTAMPUR   801303

In [17]:
df_all_sorted['VILLAGE_NAME'] = df_all_sorted['VILLAGE_NAME'].str.upper()

In [18]:
print(df_all_sorted)

              DISTNAME  SCHOOL_CODE  AC_YEAR  \
5      PURBA CHAMPARAN  10020207202  2015-16
0                BANKA  10232519807  2015-16
7                BUXAR  10301500603  2015-16
6              BHOJPUR  10290306203  2015-16
13           MADHUBANI  10050800506  2015-16
1   AURANGABAD (BIHAR)  10340917201  2015-16
3              KATIHAR  10100201701  2015-16
2            BEGUSARAI  10200201501  2015-16
14          LAKHISARAI  10252401801  2015-16
10     KAIMUR (BHABUA)  10310603901  2015-16
12           SITAMARHI  10041203604  2015-16
9                JAMUI  10371505001  2015-16
11             KATIHAR  10101218401  2015-16
4            DARBHANGA  10130710601  2015-16
8            JEHANABAD  10330303702  2015-16

                             SCHOOL_NAME       BLOCK_NAME  \
5                    BAL SHIKSHA NIKETAN           ARERAJ
0                         N.P.S. KARJANA            BANKA
7                      HIGH SCHOOL ATAON          DUMRAON
6                     JEMS D.C.C. SCHOOL           BIHIYA
13             N.P.S. DEWDHA GOBRAHI TOL         JAYNAGAR
1                         R.P.S. EKAHARA       NABINAGAR
3                            UMS GORPHAR        DANDKHORA
2                       UMS JEETWAJITPUR        BACHHWARA
14                        P.S. KANHARPUR         PIPARIYA
10                           U.M.S LEDRI            CHAND
12                          P.S. LAPTAHA          PARIHAR
9                         U M S NAUWADIH           CHAKAI
11  MDR GHARIB NAWAZ PAIZEAAM PACHKOHNIA        AZAMNAGAR
4                             MS RANIPUR  DARBHANGA-RURAL
8                        U.M.S.RUSTAMPUR        HULASGANJ

              CLUSTER_NAME  VILLAGE_NAME  PINCODE
5               GMS CHATIA     ARERAJ NA   845411
0         U.M.S. CHATARPAL       ASRAMHA   813102
7      M.S. ATAON, DUMRAON         ATAOA   802119
6              M.S. MAHUAN     CHAKAWATH   822152
13               M.S.GADHA        DEVDHA   847226
1      MIDDLE SCHOOL BAREM       EKAHARA   824303
3               MS DUMARIA        GORFER   855114
2               GMS FATEHA  JEETWAJITPUR   851111
14  U.M.S. PIPARIYA DIYARA     KANHARPUR   811302
10              M.S. GOHUA         LEDRI   821106
12            M.S. NARANGA      MAHUWAIN   843324
9                M.S.KARHI      NAUWADIH   811303
11        UMS BAULA NIMOUL    PACHKONIYA   855113
4               MS BUCHCHA       RANIPUR   846005
8            M.S.HULASGANJ     RUSTAMPUR   801303

In [19]:
df_to_add['VILLAGE_NAME'] = df_to_add['VILLAGE_NAME'].str.upper()

In [20]:
print(df_to_add)

  VILLAGE_NAME  TOTAL_POPULATION
0      RANIPUR              1440
1    RUSTAMPUR                 0
2     NAUWADIH               614

In [22]:
df_merged=pd.merge(df_all_sorted, df_to_add, left_on='VILLAGE_NAME', right_on='VILLAGE_NAME', how='left')

In [23]:
print (df_merged)

              DISTNAME  SCHOOL_CODE  AC_YEAR  \
0      PURBA CHAMPARAN  10020207202  2015-16
1                BANKA  10232519807  2015-16
2                BUXAR  10301500603  2015-16
3              BHOJPUR  10290306203  2015-16
4            MADHUBANI  10050800506  2015-16
5   AURANGABAD (BIHAR)  10340917201  2015-16
6              KATIHAR  10100201701  2015-16
7            BEGUSARAI  10200201501  2015-16
8           LAKHISARAI  10252401801  2015-16
9      KAIMUR (BHABUA)  10310603901  2015-16
10           SITAMARHI  10041203604  2015-16
11               JAMUI  10371505001  2015-16
12             KATIHAR  10101218401  2015-16
13           DARBHANGA  10130710601  2015-16
14           JEHANABAD  10330303702  2015-16

                             SCHOOL_NAME       BLOCK_NAME  \
0                    BAL SHIKSHA NIKETAN           ARERAJ
1                         N.P.S. KARJANA            BANKA
2                      HIGH SCHOOL ATAON          DUMRAON
3                     JEMS D.C.C. SCHOOL           BIHIYA
4              N.P.S. DEWDHA GOBRAHI TOL         JAYNAGAR
5                         R.P.S. EKAHARA       NABINAGAR
6                            UMS GORPHAR        DANDKHORA
7                       UMS JEETWAJITPUR        BACHHWARA
8                         P.S. KANHARPUR         PIPARIYA
9                            U.M.S LEDRI            CHAND
10                          P.S. LAPTAHA          PARIHAR
11                        U M S NAUWADIH           CHAKAI
12  MDR GHARIB NAWAZ PAIZEAAM PACHKOHNIA        AZAMNAGAR
13                            MS RANIPUR  DARBHANGA-RURAL
14                       U.M.S.RUSTAMPUR        HULASGANJ

              CLUSTER_NAME  VILLAGE_NAME  PINCODE  TOTAL_POPULATION
0               GMS CHATIA     ARERAJ NA   845411               NaN
1         U.M.S. CHATARPAL       ASRAMHA   813102               NaN
2      M.S. ATAON, DUMRAON         ATAOA   802119               NaN
3              M.S. MAHUAN     CHAKAWATH   822152               NaN
4                M.S.GADHA        DEVDHA   847226               NaN
5      MIDDLE SCHOOL BAREM       EKAHARA   824303               NaN
6               MS DUMARIA        GORFER   855114               NaN
7               GMS FATEHA  JEETWAJITPUR   851111               NaN
8   U.M.S. PIPARIYA DIYARA     KANHARPUR   811302               NaN
9               M.S. GOHUA         LEDRI   821106               NaN
10            M.S. NARANGA      MAHUWAIN   843324               NaN
11               M.S.KARHI      NAUWADIH   811303             614.0
12        UMS BAULA NIMOUL    PACHKONIYA   855113               NaN
13              MS BUCHCHA       RANIPUR   846005            1440.0
14           M.S.HULASGANJ     RUSTAMPUR   801303               0.0

In [24]:
writer = pd.ExcelWriter('Output_test.xlsx')
df_merged.to_excel(writer,'Sheet1')
writer.save()